<section class='container jumbotron'>
<h1>Login</h1>

<%= form_tag '/login' do %>

  <div class="form-group">
  Email:
  <p><%= text_field_tag :email %></p>
  </div>
  <div class="form-group">

  Password: 
  <p><%= password_field_tag :password %></p>
  </div>

  <%= submit_tag "Submit", class: 'btn btn-success' %>
<% end %>
</section>